/*
    Onyx: ##3C3C3B
    Yale: #003E7C
    Slate: #35605A
    Columbia: #BCD3F2
    Pearl: #E6E1C5
    --------------------
    Gold: #ECA400
    Cream: #F7F0BE
    Dye: #27476E
    Blue:#001D4A

*/
/* NAV MEDIA QUERIES */
.nav-logo {
    max-width: auto;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .nav-logo {
        width: 40%;
        height: auto;
    }
}

@media only screen and (max-width: 377px) {
    .nav-logo {
        width: 30%;
        height: auto;
    }
}



/* NAV/FOOTER STYLING */
.nav-title{
    font-family:monospace;
    font-size: xx-large;
    color: black;
}

.navcolor {
    background-color: #ECA400;
}

.nav-font {
    font-family: monospace;
    font-size: medium;
    color: black;
}
    a:hover {
        font-weight: bold;
    }
    a:visited {
        font-family: monospace;
        font-size: medium;
        color: black;
    }

.nav-drop {
    font-family: monospace;
    font-size: medium;
    color: black;
}

    .nav-drop:hover {
        background-color: #F7F0BE;
    }

.foot {
    margin-top: auto;
}

.foot-fix {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.foot-font {
    font-family: monospace;
    font-size: large;
    color: black;
    text-decoration: none;
    
}
    .foot-font:hover {
        font-weight: bold;
    }

    .foot-font:visited {
        font-family: monospace;
        font-size: large;
        color: black;
    }

/* PAGES/MASTER STYLING*/
.master-background {
    background-color: #27476E
}

.page-background {
    background-color: #27476E
}

.page-font {
    font-family: monospace;
    color: white;
}

p {
    font-family: monospace;
    color: white;
}

h1 {
    font-weight: bold;
    color: white;
    font-family: monospace;
}

h3 {
    font-weight: bold;
    color: white;
    font-family: monospace;
}

h4 {
    font-weight: bold;
    color: white;
    font-family: monospace;
}

h6 {
    color:white;
    font-family: monospace;
}

li {
    font-size: large;
}

/* LOGIN PAGE */

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

.login-wrapper {
    width: auto;
    padding: 10%;
    border: 0px solid #001D4A;
    border-radius: 15px;
}

.login-font {
    font-family: monospace;
    color: white;
}

.login-form {
    font-family: monospace;
    color: black;
    background-color: #F7F0BE;
    border: 1px solid #001D4A;
}

.login-btn {
    font-family: monospace;
    color: black;
    background-color: #F7F0BE;
    border-radius: 5px;
    border: 1px solid #001D4A
}

.login-head {
    font-family: monospace;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.login-reg {
    font-size: small;
}
    .login-reg:hover {
        cursor: pointer;
    }
    .login:visited {
        font-family: monospace;
        color: white;
    }

/* INDEX PAGE */

.weatherWrapper {
    font-family: monospace;
    color: white;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: fit-content;
}

.mapImage {

}

@media only screen and (max-width: 377px) {
    .mapImage {
       
    }
}


/* LICENSE PAGE */

.table {
    font-family: monospace;
    font-size: 1em;
    text-align: left;
    width: 100%;
    border: 2px solid black;
    margin: 1% auto 1% auto;
    background-color: #F7F0BE
}


.smolul {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.bigul {
    display: block;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

.link{
    color: white;
} 
    .link:hover {
      color:white;
      cursor: pointer;
      font-weight: bold;
    }
    .link:visited {
        color:white;
    }

.content {
    width: 50%;
    margin: 1% auto 1% auto;
    display: block;
    text-align: center;
    align-content: center; 
}

.typeLabel {
    font-family: monospace;
    color: white;
}

@media only screen and (max-width: 991px) {
    .table {
        font-size: 0.7em;
    }

    .content {
        width: 75%;
    }

    .smolul {
        width: 75%
    }
}

@media only screen and (max-width: 377px) {
    .table {
        font-size: 0.5em;
    }

    .content {
        width: 100%;
    }

    .smolul {
        width: 100%
    }
}

/* TACKLE TIPS */

.fix {
    text-align: left;
}

.new {
    margin-top: 5%;
}

.list {
    font-family:monospace;
    color: white;
    font-size: medium;
}

.link1 {
    color: white;
}

    .lin1k:hover {
        color: white;
        cursor: pointer;
        font-weight: 100;
    }

    .link1:visited {
        color: white;
    }

/* ADMIN PAGE */

.gridview {
    align-content: center;
}

